* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to bottom, red, green); 
}

h1 {
    text-align: center; 
    padding: 10px;
    margin: 10px auto;
    max-width: fit-content;
    background-color: aqua; 
    border: ridge #008800 10px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

p {
    font-size: 27px;    
}

a {
    text-decoration: none;
}

.wrapper {
    height: 100vh;
    padding-top: 150px;
}

.container-0 {
    height: 100%;
}

.section {
    height: calc(100%/5 - 10px);
    margin: 10px 0;
}

.section-3 {
    height: calc(100%/7 - 10px);
    margin: 10px 0;
}

.header-1 {
    position: fixed;
    width: 100%;
    padding-bottom: 10px;
}

.header-1.scroll {
    opacity: 0.8;
}


.header-2 {
    font-size: xx-larger;
    color: #f0f;  
    margin: 1.3rem 0;
}

.buttons {
    text-align: center;
    margin-bottom: 10px;
}

.button{
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
    border:solid 3px #0000FF;
    cursor: pointer;
}

#last-page {
    background:linear-gradient(to right, #FF0000,#FFFF00, #00FF00);  
    border-top-left-radius: 50px;  
    border-bottom-left-radius: 50px;  
    padding-left: 15px;
}

#next-color {
    background: #00FF00;    
}

#next-page {
    background:linear-gradient(to left, #FF0000,#FFFF00, #00FF00); 
    border-top-right-radius: 50px;  
    border-bottom-right-radius: 50px;    
    padding-right: 15px;     
}

#last-page:hover,
#next-color:hover,
#next-page:hover {
    opacity: 0.8;
}

/* color play 4 on */

.container {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    background:linear-gradient(to right, #7777FF,#DDDDFF, #7777FF); 
    display: flex;
    flex-direction: column;   
    justify-content: space-around;
    align-items: stretch;
}

.flex-container {
    height: calc(100%/8);
    width: 100%;
    margin: 5px;
    display: flex;
}

.container-1 {
    justify-content: center;
    gap: 15px;
}

.container-2 {
    justify-content: space-evenly;
}

.container-3 {
    justify-content: space-around;
}

.container-4 {
    justify-content: space-between;
}

.cont-1 {
    order: 4;
}

.cont-2 {
    order: 5;
}

.cont-3 {
    order: 3;
}

.cont-4 {
    order: 6;
}

.cont-5 {
    order: 2;
}

.cont-6 {
    order: 7;
}

.cont-7 {
    order: 1;
}

.cont-8 {
    order: 8;
}

.column {
    flex-direction: column;
}

.flex-card {
    color: #0000FF;
}

.flex-card-4 {
    max-width: 200px;
    width: 15%;
    border: double 10px #FF0000;
    border-radius: 20px;
}

/* color play 5 */

.flex-card-5 {
    max-width: 200px;
    width: 15%;
    border: double 10px #FF0000;
    border-radius: 40%;
    visibility: hidden;
}

.flex-card-5.visibility {
    visibility: visible;
}

/* color play 6 */

.flex-card-6 {
    height: 150px;
    width: 150px;
    color: #0000FF;
    border: ridge 20px #FF0000;
}

.container-a {
    width: 100%;
    height: 100%;
}

.container-b {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.container-aa {
    flex-direction: row-reverse;  
    padding: 5px 5px 0 5px;
}

.container-ab1 {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.container-ab2 {
    height: 100%;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.container-ac {
    padding-right: 10px;
}

/* color play 7 */

.flex-card-7,
.flex-card-8 {
    height: 150px;
    width: 150px;
    border: double 10px #FF0000;
    border-radius: 20px;
}

.container-7b {
    height: 85%;
}

/* color play 8 */

.flex-card-8.invisibility {
    visibility: hidden;
}

.container-8a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;   
    justify-content: space-around;
    align-items: stretch;
}

.container-8b {
    height: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.container-8ab1 {
    height: 100%;   
    flex-direction: column;
    align-items: flex-start;
}

.container-8ab2 {
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}


@media(max-width: 1700px) {
    
    .container-8a {
        height: 70%;
    }

    .flex-card-8 {
        height: 100px;
        width: 100px;
    }
}

@media(max-width: 1400px) {    
    .container-8a {
        height: 60%;
    }
    
    .container-7a {
        height: 70%;
    }
    
    .flex-card-7 {
        height: 100px;
        width: 100px;
    }
}

@media(max-width: 992px) {    
    .container-8a {
        height: 40%;
    }
    
    .container-7a {
        height: 50%;
    }
    
    .container-7b {
        height: 80%;
    }
    
    .flex-card-7 {
        height: 80px;
        width: 80px;
    }
     h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }
}

@media(max-height: 1200px) {
    h2 {
        font-size: 1rem;        
        padding-top: 2px;
    }
    
    p {
        font-size:1rem;
    }
    
    .flex-card-6 {
        height: 90px;
        width: 90px;
    }
    .flex-card-7,
    .flex-card-8 {
         height: 80px;
         width: 80px;
    }
    
    .container-7b {
        height: 77%;
    }
}

@media(max-height: 720px) {
   .flex-card h2, 
   .flex-card-6 h2,
   .flex-card-7 h2 {
        visibility: hidden;
    }

    .flex-card-8 h2 {
        font-size: 0.7rem;
        margin-top: 5px;
    }

    .button {
        font-size: 0.8rem;
    }
    
    p {
        font-size: 0.7rem;
    }
    
    .container-7b {
        height: 77%;
    }
    
    .flex-card {
        width: 50px;
        height: 30px;
    }
    
    .flex-card-6,   
    .flex-card-8 {
        height: 60px;
        width: 60px;
    } 
    
    .flex-card-7 {
        height: 50px;
        width: 50px; 
    }
   
}

@media(max-width: 576px) {        
    .button {
        font-size: 0.8rem;
    }

    .container-7a {
        height: 45%;
    } 

    .container-7b {
        height: 77%;
    }

    .container-8a {
        height: 30%;
    } 
    
    .flex-card-7,
    .flex-card-8 {
        height: 50px;
        width: 50px; 
    }
    .flex-card-7 h2,
    .flex-card-8 h2 {
        margin-top: 2px;
        font-size: 0.7rem;
    }
}